* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e25a61;
}

.container {
    height: 31em;
    width: 31em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.rabbit-body {
    background-color: #d7dfe7;
    height: 8.12em;
    width: 15.62em;
    border-radius: 8.12em 8.12em 0 0;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 11.25em;
    background: radial-gradient(circle at 0 50%, #b5becd, #b5becd 60%, #d7dfe7 61%);
    z-index: 1;
}

.tail {
    position: absolute;
    background-color: #ffffff;
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    right: 5.93em;
    top: 15.93em;
}

.face-container {
    transform: rotate(-10deg);
    transform-origin: 0 100%;
    animation: nod 5s ease-in-out infinite;
}

@keyframes nod {
    50% {
        transform: rotate(0deg);
    }
}

.rabbit-face {
    background-color: #d7dfe7;
    height: 5.93em;
    width: 9.3em;
    border-radius: 4.68em 4.68em 0 0;
    position: absolute;
    left: -1.25em;
    top: -1.87em;
}

.rabbit-face:before {
    position: absolute;
    content: "";
    background-color: #d7dfe7;
    width: 11.25em;
    height: 3.75em;
    left: -0.93em;
    top: 5.62em;
    border-radius: 4.37em;
}


